<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Reservacion del Turno</ng-template>
        <div>
            <ul>
                <li>
                    El turno
                </li>
            </ul>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Datos Personales</ng-template>
        <h1>Sus datos personales</h1>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <h1>Los datos del pago</h1>
    </mat-step>
</mat-horizontal-stepper>