<mat-toolbar class="header">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
                <a mat-button routerLink="/servicio/" routerLinkActive="active">Servicios</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Empresas</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
            </nav>
            <a class="" *ngIf="visible; else default" routerLink="/admin" mat-raised-button>
                <mat-icon>account_circle</mat-icon>
                {{user}}
            </a>
            <ng-template #default>
                <div class="header__profile">
                    <a routerLink="/auth/login" mat-raised-button>
                        <mat-icon>account_circle</mat-icon>
                        Iniciar Sesión
                    </a>
                </div>
            </ng-template>
        </div>
    </mat-toolbar-row>
</mat-toolbar>