nav>a {
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav>a.active {
    background-color: #150485;
}

.header {
    background-color: #821752;
    
}

.header-row {
    width: 100%;
}