<mat-toolbar class="header">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
                <a mat-button routerLink="/servicio/" routerLinkActive="active">Servicios</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Empresas</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>