nav>a {
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav>a.active {
    background-color: #4a3f35;
}

.header {
    background-color: #e85D04;
}

.header-row {
    width: 100%;
}

.header__profile{
    margin-right:8px;
        display: flex;
        align-items: center;
}

.header__profile>a{
    margin: 10px;
} 