.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: relative;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  align-content: center;
}

.turnos-table{
  width: 98%;
  margin: 2%; 
}

.servicios-table{
  width: 98%;
  margin: 2%; 
}

.mat-card-avatar{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
}