.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: relative;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  align-content: center;
}

.turnos-table{
  width: 98%;
  margin: 2%; 
}

.servicios-table{
  width: 98%;
  margin: 2%; 
}

.avatar{
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 80%;
    background-size: 100% auto;
}

