<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step>
        <ng-template matStepLabel>Datos Personales</ng-template>
        <form [formGroup]="form" (ngSubmit)="register($event)">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Cédula" formControlName="cedula" matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <label for="">Foto de Perfil: </label>
                            <input (change)="picked($event)" type="file" formControlName="foto" />
                            <img [src]="fotoBase64" width="auto" height="200pxs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Nombre" formControlName="nombre" matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Apellido" formControlName="apellido" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento" matInput
                                    type="date">
                            </mat-form-field>
                        </div>
                        <div class="col-xs">
                            <mat-form-field class="full-width">
                                <input placeholder="Email" formControlName="correo" matInput type="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Contraseña" formControlName="password" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="form.invalid" mat-raised-button matStepperNext type="submit">Registrar</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Empresa</ng-template>
        <form [formGroup]="formE" (ngSubmit)="regis()">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="RUC" formControlName="ruc" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Nombre" formControlName="nombre" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <form [formGroup]="formD">
                        <div class="row">
                            <label for="">Direccion</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width">
                                    <input placeholder="Calle Principal" formControlName="callePrincipal" matInput
                                        type="text">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width">
                                    <input placeholder="Calle Secundaria" formControlName="calleSecundaria" matInput
                                        type="text">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="full-width">
                                    <input placeholder="Numero de Casa" formControlName="numero" matInput type="text">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button type="submit"> Siguiente</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </mat-step>
</mat-horizontal-stepper>