<form [formGroup]="form" (ngSubmit)="register($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registrarse</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input placeholder="Cédula" formControlName="cedula" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col">
                    <label for="">Foto de Perfil</label>
                    <input placeholder="Foto" (click)="updateImage($event)" type="file">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input placeholder="Nombre" formControlName="nombre" matInput type="text">
                    </mat-form-field>
                </div>  
                <div class="col" >
                    <mat-form-field class="full-width">
                        <input placeholder="Apellido" formControlName="apellido" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento" matInput type="date">
                    </mat-form-field>
                </div>
                <div class="col-xs" >
                    <mat-form-field class="full-width">
                        <input placeholder="Email" formControlName="correo" matInput type="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input placeholder="Contraseña" formControlName="password" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col">
                    
                    <mat-slide-toggle formControlName= "cuentaEmpresario" >Registrar Datos de la Empresa</mat-slide-toggle>
                
                </div>
            </div>
            <ng-container>
                <label for="">Formulario de Empresa</label>
            </ng-container>
            
            
        </mat-card-content> 
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Registrar</button>
        </mat-card-actions>
    </mat-card>
    
</form>