<div>
    <div class="row">
        <img src="" alt="">
        <p>Imagen del Servicio</p>
    </div>
    <div>
        <ul>
            <li>Nombre: {{servicio.nombre}}</li>
            <li>Precio del Servicio: {{servicio.precio | currency}}</li>
        </ul>
        <p>Descripcion del Servicio: {{servicio.descripcion}}</p>
    </div>
    <button mat-raised-button (click)="reservar()" color="primary">Reservar</button>
</div>

<div *ngIf="mostrar" class="row">
    <div class="col-xs">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="col-xs">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Formulario de Reserva</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="saveTurno($event)">
                    <div class="row">
                        <div class="col">
                            <label for="">{{servicio.nombre}}</label>
                            <br>
                            <br>       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Fecha" formControlName="fecha" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input placeholder="Hora" formControlName="hora" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="form.invalid" mat-raised-button (click)="saveTurno($event)"  type="submit">Reservar el turno</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>