<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Detalles del Servicio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="cargando === false">
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p>Nombre: {{dServicio.nombre}}</p>
                    <p>Precio del Servicio: {{dServicio.precio | currency}}</p>
                    <p>Descripcion del Servicio: {{dServicio.descripcion}}</p>
                </div>
                <div class="col-xs-6">
                    <img [src]="dServicio.foto" alt="">
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Proceso de Reserva
                </mat-panel-title>
                <mat-panel-description>
                    Consulta la fecha y la hora para realiza tu reserva
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-horizontal-stepper #stepper>
                <mat-step>
                    <form [formGroup]="form">
                        <ng-template matStepLabel>Seleccione la Fecha</ng-template>
                        <mat-form-field>
                            <input placeholder="Fecha del Turno" formControlName="fecha" matInput type="date">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" matStepperNext (click)="getDate()">Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                        <ng-template matStepLabel (click)="getDate()">Seleccione la hora</ng-template>
                        <div class="row">
                            <ul *ngFor="let turn of turno" [ngSwitch]="turn.estado">
                                <div class="col-xs-6">
                                    <button *ngSwitchCase="true" disabled style="background-color: red; color: white;"
                                    mat-raised-button>{{turn.hora}}</button>
                                <button  (click)="getHour(turn.hora)" *ngSwitchCase="false" style="background-color: green; color: white;"
                                    mat-raised-button>{{turn.hora}}</button>
                                </div>
                            </ul>
                        </div>  
                        <div>
                            <button mat-button matStepperPrevious>Atras</button>
                            <button mat-button (click)="stepper.reset()">Cancelar</button>
                        </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-expansion-panel>
    </mat-accordion>
</div>