<div class="container">
<a mat-raised-button routerLink ='/admin/create-servicio'>Agregar un nuevo Servicio ></a>
<table mat-table [dataSource]="servicios" class="mat-elevation-z8 servicios-table">
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let servicio">{{servicio.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let servicio"> {{servicio.precio | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let servicio">
            <button mat-raised-button [routerLink]="['edit', servicio.id]">Editar</button>
            <button mat-raised-button color="warn" (click)="deleteProduct(servicio.id)">Eliminar</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>