<div class="container">
<br>
<div class="row center-xs">
    <form [formGroup]="form" (ngSubmit)="login($event)">
        <mat-card class="login">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
                <br>
                <img class="img" src="../../../../assets/images/user-icon.png" alt="user icon">
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="Email" formControlName="email" matInput type="email">
                            <mat-error *ngIf="form.controls['email'].hasError('required')">
                                El Email es <strong>requerido</strong>
                              </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                        <mat-form-field>
                            <input placeholder="Password" formControlName="password" matInput type="password">
                            <mat-error *ngIf="form.controls['password'].hasError('required')">
                                El Password es <strong>requerido</strong>
                              </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="form.invalid" mat-raised-button type="submit">Ingresar</button>
            </mat-card-actions>
            <p>O Crea tu cuenta <a routerLink="/auth/register">Aqui</a></p>
        </mat-card>
    </form>
</div>
</div>
