<footer>
    <div class="container">
        <div class="row bottom-xs">
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Servicios</h3>
                    <ul>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'news' }">Nuevos Servicios</a
                >
              </li>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                  >En oferta</a
                >
              </li>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                  >Últimos Servicios</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="box">
            <h3>Acerca de ServiFacil</h3>
            <ul>
              <li><a routerLink="/about-us">Sobre nosotros</a></li>
                        <li><a routerLink="/stores">Nuestros Clientes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
