<form [formGroup]="form" (ngSubmit)="register($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registro de Un Emprendedor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input placeholder="Cédula" formControlName="cedula" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col">
                    <label for="">Foto de Perfil</label>
                    <input placeholder="Foto" formControlName="foto" type="file">
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input placeholder="Nombre" formControlName="nombre" matInput type="text">
                    </mat-form-field>
                </div>  
                <div class="col-xs" >
                    <mat-form-field class="full-width">
                        <input placeholder="Apellido" formControlName="apellido" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento" matInput type="date">
                    </mat-form-field>
                </div>
                <div class="col-xs" >
                    <mat-form-field class="full-width">
                        <input placeholder="Email" formControlName="correo" matInput type="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input placeholder="Contraseña" formControlName="password" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
           
            <label for="">Dirección</label>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input placeholder="Calle Principal" formControlName="callePrincipal" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input placeholder="Calle Secundaria" formControlName="calleSecundaria" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-xs">
                    <mat-form-field class="full-width">
                        <input placeholder="Numero de Casa" formControlName="numero" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content> 
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Registrar</button>
        </mat-card-actions>
    </mat-card>
    
</form>
<form [formGroup]="formE" (ngSubmit)="register($event)">
    <label for="">Datos de la Empresa</label>
    <div class="row">
        <div class="col-xs">
            <mat-form-field class="full-width">
                <input placeholder="Ruc" formControlName="ruc" matInput type="text">
            </mat-form-field>
        </div>
        <div class="col-xs">
            <mat-form-field class="full-width">
                <input placeholder="Nombre" formControlName="nombreE" matInput type="text">
            </mat-form-field>
        </div>
    </div>
</form>
