<div class="container">
    <div class="row center-xs">
        <div class="col-xs-8">
            <app-banner></app-banner>
            <br>
            <section>
                <h1 class="titulo">Bienvenidos a Servifacil 2.0</h1>
            </section>
            <br>
            <section class="descripcion">
                <h1>¿Qué es Servifacil?</h1>
                <p>Es una Aplicacion Web que da la oportunidad al usuario reservar servicios de negocios
                    como: Spa, Peluqueria, tiendas particulares.
                    El proyecto es desarrollado pensando en la seguridad tanto de los dueños de los locales asi como
                    de los clientes.
                </p>
            </section>
        </div>
        <div class="col-xs-4 center-xs">     
            <div class="row center-xs">
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title><h1>Únete a la Familia de Servifacil</h1></mat-card-title>
                        <mat-card-subtitle>
                            <p> <b> Con una cuenta en ServiFacil, puedes administrar tus servicios y reservar <br>
                                un turno en el servicio que necesites. <br>
                                ¡Empieza Ya! </b>
                            </p>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <button mat-raised-button color="primary">Iniciar Sesión</button>
                        <br>
                        <br>
                        <h3>O</h3>
                        <button mat-raised-button color="primary">Crear una Cuenta</button>
                    </mat-card-content>
                </mat-card>
            </div>    
        </div>
    </div>
</div>
 