.container{
    background-color: white;
}

.titulo{
    margin-top: 20px;
}

.description{
    margin-top: 10px;
}

.card{
    margin-top: 30px;
    background-image: linear-gradient( #821752, #de4463 );
    border-radius: 12px;
    margin-right: 10px;
    color: white;
}

