<form [formGroup]="serviForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Añadir un Servicio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre del Servicio" formControlName="nombre">
            <mat-error *ngIf="serviForm.controls['nombre'].hasError('required')">
              Ell nombre es un <strong> campo requirido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
            <mat-error *ngIf="serviForm.controls['descripcion'].hasError('required')">
              La descripcion es un <strong>campo requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio" formControlName="precio" type="number">
            <mat-error *ngIf="serviForm.controls['precio'].hasError('required')">
              El precio es un <strong>campo requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
