<form [formGroup]= "form" (ngSubmit)="saveServicio($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Servicio</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Nombre" formControlName="nombre" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-xs">
                    <label for="">Foto del Servicio </label>
                    <input (change)="picked($event)" type="file" formControlName="foto"/>
                    <br>
                    <img [src]="fotoBase64" width="auto" height="200pxs">
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea placeholder="Description" formControlName="descripcion" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Precio" formControlName="precio" matInput type="number">
                    </mat-form-field>
                </div>

            </div><br>
            
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>